@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  margin: 0;
  font-family: monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow:visible  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
